In [1]:
# Stufe 3 – Transformation & Analyse

# Vorbereitung übernahme aus Aufgaben davor
# Kundenanalyse Stuffe 2
# Einfache Verknüpfung
# 4 **Lade beide CSV-Dateien ein.**  

import pandas as pd
df_Kunden = pd.read_csv("../csv/Kunden.csv", dtype={"PLZ" : str})
df_Zuordnung = pd.read_csv("../csv/zuordnung_plz_ort.csv", dtype={"plz" :str})

# 5. **Führe beide Tabellen über `PLZ` zusammen.**  
# merge

merged = pd.merge(
    df_Kunden,
    df_Zuordnung.drop_duplicates(subset="plz"),
    how="left",
    left_on="PLZ",
    right_on="plz"
)

# print(len(df_Zuordnung))
# print(len(df_Kunden))
# print(len(merged))

12854
2500
2500

In [2]:
# 8. **Erstelle eine Spalte `voller_name` aus Vor- und Nachname.**  

merged["VollerName"] = merged["Vorname"] + " " + merged["Nachname"]

print(merged)

        Vorname   Nachname    PLZ                   Ort     osm_id  \
0          Anna     Müller  29599                 Weste  1460255.0
1          Anna    Schmidt  89358             Kammeltal   964148.0
2          Anna  Schneider  19417                 Bibow  1444874.0
3          Anna    Fischer  67693             Fischbach  1248683.0
4          Anna      Weber  69242            Mühlhausen   453374.0
...         ...        ...    ...                   ...        ...
2495  Zacharias      Linke  53508              Mayschoß  1021824.0
2496  Zacharias      Fuchs  25799                 Wrohm   966749.0
2497  Zacharias     Möller  73312             Deggingen  2772178.0
2498  Zacharias       Paul  65343     Eltville am Rhein   408592.0
2499  Zacharias       Horn  98587  Steinbach-Hallenberg  2849661.0

             ags                ort    plz                         landkreis  \
0      3360026.0              Weste  29599                  Landkreis Uelzen
1      9774145.0          Kammeltal  89358                Landkreis Günzburg
2     13074006.0              Bibow  19417     Landkreis Nordwestmecklenburg
3      7335007.0          Fischbach  67693          Landkreis Kaiserslautern
4      8226054.0         Mühlhausen  69242                Rhein-Neckar-Kreis
...          ...                ...    ...                               ...
2495   7131049.0           Mayschoß  53508               Landkreis Ahrweiler
2496   1051136.0              Wrohm  25799                Kreis Dithmarschen
2497   8117006.0     Bad Ditzenbach  73312               Landkreis Göppingen
2498   6439003.0  Eltville am Rhein  65343             Rheingau-Taunus-Kreis
2499  16066063.0       Schmalkalden  98587  Landkreis Schmalkalden-Meiningen

                  bundesland        VollerName
0              Niedersachsen       Anna Müller
1                     Bayern      Anna Schmidt
2     Mecklenburg-Vorpommern    Anna Schneider
3            Rheinland-Pfalz      Anna Fischer
4          Baden-Württemberg        Anna Weber
...                      ...               ...
2495         Rheinland-Pfalz   Zacharias Linke
2496      Schleswig-Holstein   Zacharias Fuchs
2497       Baden-Württemberg  Zacharias Möller
2498                  Hessen    Zacharias Paul
2499               Thüringen    Zacharias Horn

[2500 rows x 11 columns]

In [4]:
# 9. **Sortiere Kunden nach `bundesland` und `Nachname`.**  

# merged.sort_values(by=["bundesland"], ["Nachname"]) # Err Keyword Argument und Position Argument getrennte

merged.sort_values(by=["bundesland", "Nachname"]) # Liste der Spalten

,Vorname,Nachname,PLZ,Ort,osm_id,ags,ort,plz,landkreis,bundesland,VollerName
1681,Ian,Albrecht,72517,Sigmaringendorf,2805407.0,8437105.0,Sigmaringendorf,72517,Landkreis Sigmaringen,Baden-Württemberg,Ian Albrecht
2331,Werner,Albrecht,79771,Klettgau,1240391.0,8337062.0,Klettgau,79771,Landkreis Waldshut,Baden-Württemberg,Werner Albrecht
490,Jonas,Arnold,75389,Neuweiler,1177478.0,8235050.0,Neuweiler,75389,Landkreis Calw,Baden-Württemberg,Jonas Arnold
640,Marie,Arnold,79694,Utzenfeld,1130301.0,8336090.0,Utzenfeld,79694,Landkreis Lörrach,Baden-Württemberg,Marie Arnold
1140,Xenia,Arnold,73274,Notzingen,2792748.0,8116048.0,Notzingen,73274,Landkreis Esslingen,Baden-Württemberg,Xenia Arnold
...,...,...,...,...,...,...,...,...,...,...,...
516,Karla,Zimmermann,4157,Leipzig,NaN,NaN,NaN,NaN,NaN,NaN,Karla Zimmermann
566,Leon,Zimmermann,4357,Leipzig,NaN,NaN,NaN,NaN,NaN,NaN,Leon Zimmermann
1366,Christian,Zimmermann,6861,Dessau-Roßlau,NaN,NaN,NaN,NaN,NaN,NaN,Christian Zimmermann
1616,Hannah,Zimmermann,6688,Weißenfels,NaN,NaN,NaN,NaN,NaN,NaN,Hannah Zimmermann
1816,Lara,Zimmermann,3130,Felixsee,NaN,NaN,NaN,NaN,NaN,NaN,Lara Zimmermann

In [7]:
# 10. **Zähle unterschiedliche Orte pro Bundesland.**  

# df.groupby("bundesland")["Ort_x"].nunique()

merged.groupby("bundesland")["Ort"].nunique()

bundesland
Baden-Württemberg         217
Bayern                    375
Berlin                      1
Brandenburg                60
Bremen                      2
Hamburg                     1
Hessen                     75
Mecklenburg-Vorpommern    142
Niedersachsen             163
Nordrhein-Westfalen       101
Rheinland-Pfalz           397
Saarland                    8
Sachsen-Anhalt             29
Schleswig-Holstein        213
Thüringen                  74
Name: Ort, dtype: int64

In [13]:
# 11. **Finde Kunden, deren `Ort`/`PLZ` nicht in der Zuordnung vorkommt.**

# df[df["bundesland"].isna()] 

# merged[merged["bundesland"].isna()] # Lösung für Bundesland

# merged[merged["plz"].isna()]

merged[merged["ort"].isna()]

,Vorname,Nachname,PLZ,Ort,osm_id,ags,ort,plz,landkreis,bundesland,VollerName
14,Anna,Neumann,4720,Großweitzschen,NaN,NaN,NaN,NaN,NaN,NaN,Anna Neumann
36,Anna,Schuster,8118,Hartenstein,NaN,NaN,NaN,NaN,NaN,NaN,Anna Schuster
38,Anna,Berger,4827,Machern,NaN,NaN,NaN,NaN,NaN,NaN,Anna Berger
41,Anna,Voigt,7819,Rosendorf,NaN,NaN,NaN,NaN,NaN,NaN,Anna Voigt
46,Anna,Fuchs,6110,Halle (Saale),NaN,NaN,NaN,NaN,NaN,NaN,Anna Fuchs
...,...,...,...,...,...,...,...,...,...,...,...
2447,Yasmin,Möller,9117,Chemnitz,NaN,NaN,NaN,NaN,NaN,NaN,Yasmin Möller
2450,Zacharias,Müller,2999,Lohsa - Łaz,NaN,NaN,NaN,NaN,NaN,NaN,Zacharias Müller
2454,Zacharias,Weber,7819,Schmieritz,NaN,NaN,NaN,NaN,NaN,NaN,Zacharias Weber
2458,Zacharias,Hofmann,9496,Marienberg,NaN,NaN,NaN,NaN,NaN,NaN,Zacharias Hofmann
2488,Zacharias,Berger,4838,Jesewitz,NaN,NaN,NaN,NaN,NaN,NaN,Zacharias Berger

In [14]:
# Anzahl aller eindeutigen Orte im gesamten DataFrame
anzahl_orte_gesamt = merged["Ort"].nunique()
print("Anzahl eindeutiger Orte insgesamt:", anzahl_orte_gesamt)

# Anzahl Datensätze ohne Bundesland
anzahl_ohne_bundesland = merged[merged["bundesland"].isna()]["Ort"].nunique()
print("Anzahl eindeutiger Orte ohne Bundesland:", anzahl_ohne_bundesland)

Anzahl eindeutiger Orte insgesamt: 2012
Anzahl eindeutiger Orte ohne Bundesland: 174